.container{
    background-color:rgba(52, 97, 226, 0.2);
    width: 70%;
    height: 500px;
    margin: auto;
    padding: 30px;
}
img{
    height: 40px;
    width: 40px;
}
.header{
    display: flex;
}
button{
    background-color: rgba(52, 97, 226, 1);
    width: 150px;
    padding: 5px;
}
input{
  padding: 5px;
  gap: 10px;
}

